{
    "extends": "@antfu",
    "rules": {
        "vue/component-tags-order": ["error", {
            "order": [ [ "script", "template" ], "style" ]
        }],
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "@typescript-eslint/indent": ["error", 4],
        "vue/html-indent": ["error", 4, {
            "attribute": 1,
            "baseIndent": 1,
            "closeBracket": 0,
            "alignAttributesVertically": true,
            "ignores": []
        }],
        "vue/html-closing-bracket-newline": ["error", {
            "singleline": "never",
            "multiline": "never"
          }],
        "@typescript-eslint/comma-dangle": ["error", "never"],
        "vue/no-deprecated-v-bind-sync": "off",
        "no-console": "off"
    }
}
